/* TODO: slack layout */
.megacontainer {
  display:flex;
  flex-direction: row;
}


a.button{
  display:block;
  padding: 4px 8px;
  text-decoration: none;
  color:rgb(136, 134, 134);
  background-color: transparent ;
  border-radius: 6px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align:center;
  font-size: 20px;
}
a.button:hover{
  color:white;
}


.active{
  background-color: #514850 !important;
  color:white !important;

}
